In [34]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import mysql.connector
from os import listdir
from os.path import isfile, join

In [2]:
db = pymysql.connect(host = 'database-test2.colignxg6rlu.eu-central-1.rds.amazonaws.com', user = 'admin', password = 'Ventana21')
cursor = db.cursor()

NameError: name 'pymysql' is not defined

In [3]:
host = 'DESKTOP-MDJ71SC'
db_name = 'Torrentes'

In [4]:
sql = '''use Torrentes'''
cursor.execute(sql)

NameError: name 'cursor' is not defined

In [5]:
conn = pyodbc.connect( 'DRIVER={SQL SERVER};SERVER=DESKTOP-MDJ71SC;DATABASE=Torrentes;Trust_Connection=yes')
print(conn)
cursor = conn.cursor()

<pyodbc.Connection object at 0x000002506E8DD030>

In [6]:
df = pd.read_excel('D:\Aemet\Aemet2014-04-08.xls' ,header = 4 )
df['Fecha'] = 'Aemet2014-04-08.xls'
df = df.fillna(0)
df['Estación'] = df['Estación'].replace("'","")

In [7]:
df.columns

Index(['Estación', 'Provincia', 'Temperatura máxima (ºC)',
       'Temperatura mínima (ºC)', 'Temperatura media (ºC)', 'Racha (km/h)',
       'Velocidad máxima (km/h)', 'Precipitación 00-24h (mm)',
       'Precipitación 00-06h (mm)', 'Precipitación 06-12h (mm)',
       'Precipitación 12-18h (mm)', 'Precipitación 18-24h (mm)', 'Fecha'],
      dtype='object')

In [8]:
df = df.rename(columns = {
                            'Estación' : 'Estacion', 
                            'Provincia' : 'Provincia', 
                            'Temperatura máxima (ºC)' : 'Temperaturamaxima',
                            'Temperatura mínima (ºC)' : 'Temperaturaminima',
                            'Temperatura media (ºC)' : 'Temperaturamedia', 
                            'Racha (km/h)' : 'Racha',
                            'Velocidad máxima (km/h)' : 'Velocidadmaxima', 
                            'Precipitación 00-24h (mm)' : 'Precipitacion0024h',
                            'Precipitación 00-06h (mm)' : 'Precipitacion0006h', 
                            'Precipitación 06-12h (mm)' : 'Precipitacion0612h',
                            'Precipitación 12-18h (mm)' : 'Precipitacion1218h', 
                            'Precipitación 18-24h (mm)' : 'Precipitacion1824h', 
                            'Fecha' : 'Fecha'
                         }, inplace = False)

In [30]:
engine = create_engine('mssql+pyodbc://DESKTOP-MDJ71SC/Torrentes?driver=ODBC+Driver+17+for+SQL+Server')

In [31]:
print (engine)

Engine(mssql+pyodbc://DESKTOP-MDJ71SC/Torrentes?driver=ODBC+Driver+17+for+SQL+Server)

In [43]:
df = df.reset_index(drop=True, inplace=True)

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [14]:
sql = '''
Create table DatosAemet(
Estacion varchar (255), 
Provincia varchar (255), 
Temperaturamaxima varchar (255),
Temperaturaminima varchar (255), 
Temperaturamedia varchar (255), 
Racha varchar (255),
Velocidadmaxima varchar (255), 
Precipitacion0024h varchar (255),
Precipitacion0006h varchar (255), 
Precipitacion0612h varchar (255),
Precipitacion1218h varchar (255), 
Precipitacion1824h varchar (255)
)

'''
cursor.execute(sql)

In [15]:
cursor.commit()

In [35]:
df.to_sql('datosaemet', con = engine, if_exists='append',index=False)

In [36]:
onlyfiles = [f for f in listdir('D:\Aemet') if isfile(join('D:\Aemet', f))]

In [37]:
for a in onlyfiles:
    df = pd.read_excel('D:\Aemet\%s' %(a),header = 4 )
    df = df.fillna('0')
    df['Estación'] = df['Estación'].replace("'","")
    df['Fecha'] = a
    df = df.rename(columns = {
                            'Estación' : 'Estacion', 
                            'Provincia' : 'Provincia', 
                            'Temperatura máxima (ºC)' : 'Temperaturamaxima',
                            'Temperatura mínima (ºC)' : 'Temperaturaminima',
                            'Temperatura media (ºC)' : 'Temperaturamedia', 
                            'Racha (km/h)' : 'Racha',
                            'Velocidad máxima (km/h)' : 'Velocidadmaxima', 
                            'Precipitación 00-24h (mm)' : 'Precipitacion0024h',
                            'Precipitación 00-06h (mm)' : 'Precipitacion0006h', 
                            'Precipitación 06-12h (mm)' : 'Precipitacion0612h',
                            'Precipitación 12-18h (mm)' : 'Precipitacion1218h', 
                            'Precipitación 18-24h (mm)' : 'Precipitacion1824h', 
                            'Fecha' : 'Fecha'
                         }, inplace = False)
    df.to_sql('datosaemet', con = engine, if_exists='append',index=False)
    print(a)
    os.replace('D:\Aemet\%s' %(a), 'D:\Aemet\Archivo\%s' %(a))

Aemet2013-05-07.xls

NameError: name 'os' is not defined

In [57]:
# for a in onlyfiles:
#     df = pd.read_excel('D:\Aemet\%s' %(a),header = 4 )
#     df1 = df.fillna('0')
#     df1['Fecha'] = a
#     for i in range(len(df1)):
#         sql = '''
#         insert into DatosAemet (
#         Estacion , 
#         Provincia , 
#         Temperaturamaxima ,
#         Temperaturaminima , 
#         Temperaturamedia , 
#         Racha ,
#         Velocidadmaxima , 
#         Precipitacion0024h ,
#         Precipitacion0006h, 
#         Precipitacion0612h ,
#         Precipitacion1218h ,
#         Precipitacion1824h,
#         Fecha)
#         values (
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s'
#         )
#         ''' %(
#         df1['Estación'].iloc[i].replace("'",""),
#         df1['Provincia'].iloc[i],
#         df1['Temperatura máxima (ºC)'].iloc[i],
#         df1['Temperatura mínima (ºC)'].iloc[i],
#         df1['Temperatura media (ºC)'].iloc[i],
#         df1['Racha (km/h)'].iloc[i],
#         df1['Velocidad máxima (km/h)'].iloc[i],
#         df1['Precipitación 00-24h (mm)'].iloc[i],
#         df1['Precipitación 00-06h (mm)'].iloc[i],
#         df1['Precipitación 06-12h (mm)'].iloc[i],
#         df1['Precipitación 12-18h (mm)'].iloc[i],
#         df1['Precipitación 18-24h (mm)'].iloc[i],
#         df1['Fecha'].iloc[i]
#         )
#         cursor.execute(sql)
#         cursor.connection.commit()
#     print(a)
#     os.replace('D:\Aemet\%s' %(a), 'D:\Aemet\Archivo\%s' %(a))

NameError: name 'onlyfiles' is not defined