In [1]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [2]:
import pymysql

In [5]:
db = pymysql.connect(host = 'database-test2.colignxg6rlu.eu-central-1.rds.amazonaws.com', user = 'admin', password = 'Ventana21')

In [21]:
cursor = db.cursor()

In [29]:
cursor.execute('select version()')

1

In [30]:
data = cursor.fetchall()

In [31]:
data

(('8.0.28',),)

In [69]:
#Create a table
sql = '''drop database prueba2'''
cursor.execute(sql)

0

In [83]:
#Create a table
sql = '''create database prueba2'''
cursor.execute(sql)

1

In [84]:
cursor.connection.commit()

In [85]:
sql = '''use prueba2'''
cursor.execute(sql)

0

In [86]:
#sql = '''drop table prueba1'''
#cursor.execute(sql)

In [87]:
#sql = '''use prueba2'''
#sql = '''drop table prueba 1'''
#cursor.execute(sql)

In [91]:
sql = '''
create table prueba3(
id int not null auto_increment,
nombre varchar (255),
apellido varchar (255),
primary key (id)
)
'''
cursor.execute(sql)

0

In [94]:
sql = '''
insert into prueba3(nombre, apellido)
values ('%s','%s')
''' %('Eugeni', 'Losada')
cursor.execute(sql)

1

In [99]:
sql = '''select * from prueba3'''
cursor.execute(sql)

3

In [100]:
cursor.fetchall()

((1, 'Eugeni', 'Losada'), (2, 'Eugeni', 'Losada'), (3, 'Eugeni', 'Losada'))