In [1]:
import pymysql

In [2]:
db = pymysql.connect(host = 'database-test2.colignxg6rlu.eu-central-1.rds.amazonaws.com', user = 'admin', password = 'Ventana21')
cursor = db.cursor()

In [4]:
cursor.connection.commit()

In [10]:
sql = '''use Torrentes'''
cursor.execute(sql)

0

In [11]:
sql = '''select * from Prueba'''
cursor.execute(sql)
cursor.fetchall()

(('1', '2', '3', '4', '5'),)

In [16]:
sql = '''
Create table DatosAemet(
Estacion varchar (255), 
Provincia varchar (255), 
Temperaturamaxima varchar (255),
Temperaturaminima varchar (255), 
Temperaturamedia varchar (255), 
Racha varchar (255),
Velocidadmaxima varchar (255), 
Precipitacion0024h varchar (255),
Precipitacion0006h varchar (255), 
Precipitacion0612h varchar (255),
Precipitacion1218h varchar (255), 
Precipitacion1824h varchar (255)
)

'''
cursor.execute(sql)

0