In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import mysql.connector
from os import listdir
from os.path import isfile, join

In [4]:
db = pymysql.connect(host = 'database-test2.colignxg6rlu.eu-central-1.rds.amazonaws.com', user = 'admin', password = 'Ventana21')
cursor = db.cursor()

In [10]:
host = 'database-test2.colignxg6rlu.eu-central-1.rds.amazonaws.com'
user = 'admin'
password = 'Ventana21'
db_name = 'Torrentes'

In [11]:
sql = '''use Torrentes'''
cursor.execute(sql)

0

In [16]:
cnx = mysql.connector.connect(host = host, user = user, password = password)

print(cnx)
cursor = cnx.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000002638D03DEE0>

In [50]:
df = pd.read_excel('D:\Aemet\Aemet2014-04-08.xls' ,header = 4 )
df['Fecha'] = 'Aemet2014-04-08.xls'
df = df.fillna(0)
df['Estación'] = df['Estación'].replace("'","")

In [51]:
df.columns

Index(['Estación', 'Provincia', 'Temperatura máxima (ºC)',
       'Temperatura mínima (ºC)', 'Temperatura media (ºC)', 'Racha (km/h)',
       'Velocidad máxima (km/h)', 'Precipitación 00-24h (mm)',
       'Precipitación 00-06h (mm)', 'Precipitación 06-12h (mm)',
       'Precipitación 12-18h (mm)', 'Precipitación 18-24h (mm)', 'Fecha'],
      dtype='object')

In [52]:
df = df.rename(columns = {
                            'Estación' : 'Estacion', 
                            'Provincia' : 'Provincia', 
                            'Temperatura máxima (ºC)' : 'Temperaturamaxima',
                            'Temperatura mínima (ºC)' : 'Temperaturaminima',
                            'Temperatura media (ºC)' : 'Temperaturamedia', 
                            'Racha (km/h)' : 'Racha',
                            'Velocidad máxima (km/h)' : 'Velocidadmaxima', 
                            'Precipitación 00-24h (mm)' : 'Precipitacion0024h',
                            'Precipitación 00-06h (mm)' : 'Precipitacion0006h', 
                            'Precipitación 06-12h (mm)' : 'Precipitacion0612h',
                            'Precipitación 12-18h (mm)' : 'Precipitacion1218h', 
                            'Precipitación 18-24h (mm)' : 'Precipitacion1824h', 
                            'Fecha' : 'Fecha'
                         }, inplace = False)

In [53]:
engine = create_engine('mysql+mysqlconnector://{user}:{pw}@{host}/{db}'
                      .format(user = user,
                             pw = password,
                             host = host,
                             db = db_name)
                      )

In [54]:
df

,Estacion,Provincia,Temperaturamaxima,Temperaturaminima,Temperaturamedia,Racha,Velocidadmaxima,Precipitacion0024h,Precipitacion0006h,Precipitacion0612h,Precipitacion1218h,Precipitacion1824h,Fecha
0,Estaca de Bares,A Coruña,13.7 (12:40),9.0 (07:10),11.3,78 (21:00),48 (23:50),0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
1,As Pontes,A Coruña,15.8 (17:30),2.7 (08:20),9.3,0,0,0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
2,A Coruña,A Coruña,15.1 (13:40),8.2 (08:20),11.7,44 (20:50),25 (20:10),0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
3,A Coruña Aeropuerto,A Coruña,18.4 (16:10),5.3 (08:40),11.8,35 (16:40),24 (16:40),0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
4,"Carballo, Depuradora",A Coruña,15.3 (18:40),2.5 (08:40),8.9,0,0,0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,Leciñena,Zaragoza,22.8 (17:20),9.1 (08:00),15.9,29 (16:20),18 (18:30),0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
760,Valmadrid,Zaragoza,20.8 (16:30),12.0 (06:50),16.4,44 (14:40),31 (14:40),0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
761,Quinto,Zaragoza,24.0 (17:30),12.7 (03:00),18.3,44 (12:10),29 (12:10),0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
762,Caspe,Zaragoza,25.5 (18:00),12.4 (04:50),18.9,0,0,0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls
763,Bujaraloz,Zaragoza,24.6 (17:10),10.2 (07:50),17.4,41 (23:00),30 (23:00),0.0,0.0,0.0,0.0,0.0,Aemet2014-04-08.xls

In [43]:
df = df.reset_index(drop=True, inplace=True)

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [56]:
df.to_sql('datosaemet', con = engine, if_exists='append',index=False)

In [2]:
onlyfiles = [f for f in listdir('D:\Aemet') if isfile(join('D:\Aemet', f))]

NameError: name 'listdir' is not defined

In [1]:
for a in onlyfiles:
    df = pd.read_excel('D:\Aemet\%s' %(a),header = 4 )
    df = df.fillna('0')
    df['Estación'] = df['Estación'].replace("'","")
    df['Fecha'] = a
    df = df.rename(columns = {
                            'Estación' : 'Estacion', 
                            'Provincia' : 'Provincia', 
                            'Temperatura máxima (ºC)' : 'Temperaturamaxima',
                            'Temperatura mínima (ºC)' : 'Temperaturaminima',
                            'Temperatura media (ºC)' : 'Temperaturamedia', 
                            'Racha (km/h)' : 'Racha',
                            'Velocidad máxima (km/h)' : 'Velocidadmaxima', 
                            'Precipitación 00-24h (mm)' : 'Precipitacion0024h',
                            'Precipitación 00-06h (mm)' : 'Precipitacion0006h', 
                            'Precipitación 06-12h (mm)' : 'Precipitacion0612h',
                            'Precipitación 12-18h (mm)' : 'Precipitacion1218h', 
                            'Precipitación 18-24h (mm)' : 'Precipitacion1824h', 
                            'Fecha' : 'Fecha'
                         }, inplace = False)
    df.to_sql('datosaemet', con = engine, if_exists='append',index=False)
    print(a)
    os.replace('D:\Aemet\%s' %(a), 'D:\Aemet\Archivo\%s' %(a))

NameError: name 'onlyfiles' is not defined

In [57]:
# for a in onlyfiles:
#     df = pd.read_excel('D:\Aemet\%s' %(a),header = 4 )
#     df1 = df.fillna('0')
#     df1['Fecha'] = a
#     for i in range(len(df1)):
#         sql = '''
#         insert into DatosAemet (
#         Estacion , 
#         Provincia , 
#         Temperaturamaxima ,
#         Temperaturaminima , 
#         Temperaturamedia , 
#         Racha ,
#         Velocidadmaxima , 
#         Precipitacion0024h ,
#         Precipitacion0006h, 
#         Precipitacion0612h ,
#         Precipitacion1218h ,
#         Precipitacion1824h,
#         Fecha)
#         values (
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s',
#         '%s'
#         )
#         ''' %(
#         df1['Estación'].iloc[i].replace("'",""),
#         df1['Provincia'].iloc[i],
#         df1['Temperatura máxima (ºC)'].iloc[i],
#         df1['Temperatura mínima (ºC)'].iloc[i],
#         df1['Temperatura media (ºC)'].iloc[i],
#         df1['Racha (km/h)'].iloc[i],
#         df1['Velocidad máxima (km/h)'].iloc[i],
#         df1['Precipitación 00-24h (mm)'].iloc[i],
#         df1['Precipitación 00-06h (mm)'].iloc[i],
#         df1['Precipitación 06-12h (mm)'].iloc[i],
#         df1['Precipitación 12-18h (mm)'].iloc[i],
#         df1['Precipitación 18-24h (mm)'].iloc[i],
#         df1['Fecha'].iloc[i]
#         )
#         cursor.execute(sql)
#         cursor.connection.commit()
#     print(a)
#     os.replace('D:\Aemet\%s' %(a), 'D:\Aemet\Archivo\%s' %(a))

NameError: name 'onlyfiles' is not defined